	<% data= YAML.load(File.open(File.join(File.dirname(__FILE__),'data.yaml'))) %>
	<% puts data %>
	<h1>Research Personnel</h1>
	<h2 class="act">Current Personnel</h2>
	<ul>
		<% data["current_personnel"].each do |n| %>
		<li>
			<%if n["link"]=="" %>
			<%= n["name"]%>,
			<%= n["info"]%>
			<%else%>
			<a href = "<%= n["link"] %>" >
			<%= n["name"]%></a>,
			<%= n["info"]%>
			<%end%>
		</li>
		<%end%>
	</ul>
	<h2 class="act">Past Personnel</h2>
	<ul>
		<% data["past_personnel"].each do |n| %>
		<li class = "names">
			<%if n["link"]=="" %>
			<%= n["name"]%>,
			<%= n["info"]%>
			<%else%>
			<a href = "<%= n["link"] %>" >
			<%= n["name"]%></a>,
			<%= n["info"]%>
			<%end%>
		</li>
		<%end%>
	</ul>

